.flex-container {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    padding: 0.4em 0.2em 0.2em;
}

.title {
    font-weight: 500;
    font-size: 1.1rem;
}

.flex-end {
    margin-left: auto;
}

.content-container {
    margin-block: 0.5em;
    padding-inline: 0.4em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.form-item {
    display: flex;
}

.label {
    font-weight: 500;
    min-width: 90px;
}

.footer {
    padding: 0.2em 0.4em;
    column-gap: 0.6em;
}
