{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"bracketSpacing": true,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"printWidth": 70,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
