.emoji-picker-container {
    padding: 5px 3px 4px;
    background-color: var(--ch-emoji-picker-background);
}

.form {
    margin-top: 1em;

    .form-item {
        label {
            min-width: 50px;
        }
        input,
        select {
            width: 100px;
            height: 30px;
        }
    }
}
