/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Allows scrollbars only when needed */
}

body {
    height: 100%;
    background-color: var(--ch-background-color, #fff);
    color: var(--ch-text-color, #000);
    font-family: var(--ch-font-family);
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.form-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.row-showcase {
    display: flex;
    column-gap: 1em;
}

.showcase-container {
    margin: 1em 2em;
}
