<div [style.height.px]="400" class="showcase-container row-showcase justify-center align-center">
    <ch-button label="Click me!" [height]="40" (onClick)="handleClick($event)"></ch-button>
</div>

<ch-dialog [(visible)]="visible" [height]="300" [width]="500">
    <ng-container header><div>Lorem Ipsum</div></ng-container>
    <ng-container content
        ><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
            Phasellus vestibulum lorem sed risus ultricies tristique. Velit dignissim sodales ut eu sem. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Sed vulputate mi
            sit amet mauris commodo quis imperdiet massa. Nunc sed velit dignissim sodales ut eu sem integer vitae justo.
        </p>

        <p>
            Amet est placerat in egestas erat imperdiet sed euismod nisi. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Quam adipiscing vitae proin sagittis nisl rhoncus
            mattis rhoncus urna. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
            Phasellus vestibulum lorem sed risus ultricies tristique. Velit dignissim sodales ut eu sem. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Sed vulputate mi
            sit amet mauris commodo quis imperdiet massa. Nunc sed velit dignissim sodales ut eu sem integer vitae justo.
        </p>

        <p>
            Amet est placerat in egestas erat imperdiet sed euismod nisi. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Quam adipiscing vitae proin sagittis nisl rhoncus
            mattis rhoncus urna. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut.
        </p>
    </ng-container>
</ch-dialog>
