.grid-container {
    display: grid;
    grid-template-columns: repeat(3, min-content); /* 4 columns, each sized automatically */
    row-gap: 1em;
    column-gap: 2em;
    justify-content: center;
    align-items: center; /* centers items vertically */
}

.grid-container ch-button:last-child {
    grid-column: 2; /* Center in the second column */
}
